{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <div class="container" role="main">
      
      <div class="row">
        {{ $groupPages := where .Data.Pages "Section" "==" "groups"}}
  
        {{ range $i, $page := $groupPages }}
          {{ $counter := add $i 1}}
          <div class="col-md-4">
            {{ .Render "summary" }}
          </div>
          {{ if modBool $counter 3 }}
            </div>
            <div class="row">
          {{ end }}
        {{ end }}
      </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ with .Content }}
              {{.}}
          {{ end }}
        </div>
      </div>
  </div>
{{ end }}

