{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content | emojify }}
      </article>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">

    {{ with index .Site.Data.events .Params.group }}
      {{ with index . "next"}}
        {{ partial "next_event.html" . }}
      {{ end }}
      <br>

      {{ with index . "past" }}
        <strong>Past Events:</strong>
        {{ range . }}
          {{ partial "past_event.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    </div>
  </div>
</div>
{{ end }}
