body{
    font-size: 20px;
}
.navbar-custom {
    background-color: #1B1B1B;
    border-bottom: 2px solid #474747;
}
.navbar-custom .navbar-brand, .navbar-custom .nav li a {
    font-weight: 700;
    color: #F0F0F0;
}
.panel-body {
    font-size: 16px;
}
footer {
    border-color: #d44500;
    border-width: 2px;
}

footer .input-group {
    width: 70%;
}

}
