{{ define "main" }}
  {{/* Set up group data in Scratch */}}
  {{ $.Scratch.Set "groups" .Site.Data.groups }}

  {{/* Setup all events that have a next value */}}
  {{ $.Scratch.Set "events" dict }}
  {{ range .Site.Data.events  }}
    {{ if isset . "next" }}
      {{ with .next }}
        {{ $.Scratch.SetInMap "events" .date .  }}
      {{ end }}
    {{ end }}
  {{ end }}

  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ .Content }}

        <h2>Upcoming developer events</h2>

        <br>
        {{ range $events :=  $.Scratch.Get "events" }}
          {{ $groups := $.Scratch.Get "groups" }}
          {{ $group := index $groups .group }}

          <strong>{{ dateFormat "Monday, January 2, 2006" .date }}</strong>
          <h4> <a href="{{.rsvp_link}}">
            <span class="label {{ if eq $group.type "hackathon" }}
              label-danger {{ else }} label-info {{ end }}
              pull-right">{{ $group.type }}</span>
              {{ .name }}
          </a></h4>
          {{ with .description }}
          <blockquote>
              <p>{{ . }}</p>
          </blockquote>
          {{ end }}
          <small>
            learn more about <a href="/groups/{{ .group }}">{{$group.title}}</a>
          </small>
          <hr>
        {{ end }}
      </div>
    </div>

    <div class="alert alert-info text-center" role="alert">
      <small>
      Interested in starting a new dev meetup?  Contact us on email, twitter, or slack!
      </small>
    </div>
  </div>
{{ end }}

